{
  "globals": {
    "test": true,
    "describe": true,
    "expect": true,
    "beforeEach": true,
    "it": true,
    "afterAll": true
  },
  "extends": "./node_modules/@funboxteam/eslint-config/.eslintrc.js"
}
